<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="PayLoadID" value="temp.user@gmail.com" />
    <add key="OutputFilePath" value="D:\Output" />
    <add key="LogFilePath" value="D:\Log\InvoiceReader.log" />
    <add key="FromDomain" value="rpfrom" />
    <add key="ToDomain" value="rpto" />
    <add key="SenderDomain" value="rpsender" />
    <add key="SenderIdentity" value="a12345" />
    <add key="SenderIdentitySharedSecret" value="x&amp;vBdfh111jk" />
  </appSettings>
</configuration>
